/* ========================= */
/* HIDE SCROLLBAR GLOBALLY */
/* ========================= */

html,
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari */
}

/* OPTIONAL */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}